body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    background: #273443;
    color: white;
}

#phone_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10%;
}