body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    background: #273443;
}

p {
    color: white;
    font-size: 1.2em;
}

a {
    margin-right: auto;
    margin-top: 3em;
    color: white;
}

input {
    width: 21em;
    height: 3em;
}

#phone_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 0 10%;
}

button {
    width: 100%;
    background: #25D366;
    color: white;
    padding: 1em;
    border: white solid;
    margin-top: 0.3em;
    font-weight: bold;
    border-radius: 0.5em;
    cursor: pointer;
}